.header{      
    padding: 1rem;
    margin: 1rem;    
    border-radius: 0.3rem;    
}

a.header, p.header{
    /* all links with class "header"*/
    color: black;
    font-weight: 200;
    font-size: large;
}

nav{
    /* a fallback for image display problems*/
    background-color: grey; 
    
    background-image: url("/pictures/krijtrotsen.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;    
}

