.header{      
    padding: 1rem;
    margin: 1rem;
    color:black;
    border-radius: 0.3rem;    
    opacity: 1;
}

nav{
    background-color: grey; /* a fallback for image display problems */
    
    background-image: url("/pictures/krijtrotsen.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    opacity: 0.5;
    
}