.header {
    background-color: white;
    opacity: 0.8;
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 1rem;
}

nav {
    /* a fallback for image display problems*/
    background-color: grey;

    background-image: url("/pictures/krijtrotsen.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
}

nav a{
    color: orangered;
}

nav p{
    color: black;
}
